body{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;

}
h1{
    font-size: 80px;
    margin: 0;
}

h2{
    font-size: 64px;
    
}
h3{
    font-size:48px;
    margin: 0;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-size:24px;
    margin: 0;
}

p{  
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3E3E3E;

}

.container{
    width: 1400px;
    margin: 0 auto;
}

header{
    width: 100%;
    float: left;
    height: 100px;
}
.nav-menu{
    width: 50%;
    float: right;
    margin-right: 50px;

}

.nav-menu ul{
    list-style: none;
}

.nav-menu ul li{
	display: inline-block;
	margin: 10px 20px;
}

section{
    height: 500px;
    padding: 50px 0px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 1%;

}
.salmon-highlighter{
    color: salmon;
}

.half-width img{
    width: 90%;
    
}
.btn{
    background: linear-gradient(45deg, tomato, salmon);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}

.btn:hover{
    background: linear-gradient(45deg, rgb(217, 255, 0), #F8B461);
}

.half-width a{
    text-decoration:none;
    margin-top: 100px;
}

.extra-padding{
    padding-top: 100px;
}

.skills-section{
    background-color:#E5E5E5;
}

.skills{
    width: 40%;
    margin: 0 auto;

}

.skills h2{
    text-align: center;
}

.skills ul{
    list-style: none;
    
}

.skills ul li{
    background-color: white;
    border-radius: 10px;
    
    
}

h5{
    font-size: 20px;
    font-weight: 500;
    background-color: salmon;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
}

.html h5{
    width: 94%;
    
}

.css h5{
    width:85%;
}

.bootstrap h5{
    width:60%;
}

.javascript h5{
    width:80%;
}

.php h5{
    width:50%;
}



.project{
    background-color:#E5E5E5;
}

.project h3{
    text-align: center;

}

.one-third{
    width: 25%;
    float: left;
    margin: 2%;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #EADEDE;
}

.one-third img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #E5E5E5;
}

.one-third img:hover{
    opacity: 0.3;
}

.one-third p{
    padding-left:15px;

}


.work-inquiry-section{
    height: 200px;
    background-image: url(images/chat.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    margin: 100px 0;
}
.inquiry-section{
 padding-top: 10px;
    
}
.inquiry-section h2{
    color: white;
    display: inline-block;
    padding-left: 250px;
}
.inquiry-section a{
    text-decoration: none;
    float:right;
    background: linear-gradient(45deg, tomato, salmon);
    padding: 20px 15px;
    border-radius: 5px;
    color: white;
    margin-right: 200px;
    margin-top: 50px;

}



footer{
    text-align: center;
}

.nav-menu{
    width: 50%;
    float: right;
    margin-right: 50px;

}

footer ul{
    list-style: none;
}

footer ul li{
	display: inline-block;
	margin: 5px;
}

footer img{
    width: 50px;
}


